# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Intermediate Data Files
*.dat
*.bin
*.hdr

# Eclipse/PyDev Files
.project
.pydevproject
